.Home {
  background-color: #7AC6FF;
  display: flex;
  flex-direction: column;
}

.Home-header {
  height: calc(130px + 2vmin);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
}

.Home-logo {
  float: left;
  margin-top: 30px;
  height: calc(68px + 2vmin);
}

.Home button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.Home-text {
  position: absolute;
  margin-top: 0px;
  padding-left: 100px;
  font-size: calc(100px + 2vmin);
  font-weight: bold;
  color: white;
}

.Home-log-out {
  position: absolute;
  background-color: #CFCFCF;
  margin-top: 30px;
  right: 30px;
  height: 32.5px;
  border: none;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;
}

.Home-bar {
  background-color: #CFCFCF;
  display: flex;
  flex-direction: column;
  line-height: 0px;
  text-align: left;
  padding: 0em 0.5em 0em 0.5em;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;
}

.Home-morning {
  background-color: #F39697;
  width: 100%;
  border: none;
  font-size: calc(100px + 2vmin);
  font-weight: bold;
  color: white;
}

.Home-afternoon {
  background-color: #F8B658;
  width: 100%;
  border: none;
  font-size: calc(100px + 2vmin);
  font-weight: bold;
  color: white;
}

.Home-evening {
  background-color: #7E4B68;
  width: 100%;
  border: none;
  font-size: calc(100px + 2vmin);
  font-weight: bold;
  color: white;
}

.Home-bedtime {
  background-color: #292965;
  width: 100%;
  border: none;
  font-size: calc(100px + 2vmin);
  font-weight: bold;
  color: white;
}

.Home-as-needed {
  background-color: #545454;
  width: 100%;
  border: none;
  font-size: calc(100px + 2vmin);
  font-weight: bold;
  color: white;
}

.Home-print {
  background-color: #77D353;
  width: 100%;
  border: none;
  font-size: calc(100px + 2vmin);
  font-weight: bold;
  color: white;
}
